In [1]:
# Library to interact with the OS
import os

# Libraries for reading and manipulating data
import numpy as np
import pandas as pd

# Libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
pd.set_option('display.float_format', lambda x: '%.4f' % x)

PROJECT_DIR = os.path.join(os.path.dirname('preprocessing.ipynb'), os.pardir)

In [37]:
is_df = pd.read_excel('Health_database.xlsx')
is_df.head()

,Unnamed: 0,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,0,2016-01-01,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,1,2016-01-02,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2,2016-01-06,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...
3,3,2016-01-08,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...
4,4,2016-01-10,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...

# Overview

In [39]:
is_df.columns

Index(['Unnamed: 0', 'Data', 'Countries', 'Local', 'Industry Sector',
       'Accident Level', 'Potential Accident Level', 'Genre',
       'Employee or Third Party', 'Critical Risk', 'Description'],
      dtype='object')

In [41]:
# Dropping the index column
is_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [43]:
# Duplicates
is_df.duplicated().sum()

7

In [45]:
# Dropping duplicates
is_df.drop_duplicates(inplace=True, ignore_index=True)

In [47]:
# Rename 'Data', 'Countries', 'Genre' columns in Data frame
is_df.rename(columns={'Data':'Date', 'Countries':'Country', 'Genre':'Gender'}, inplace=True)

# Treating Attribute data

In [49]:
# Label encoding
is_df['Gender'] = is_df['Gender'].apply(lambda x: {'Male': 0, 'Female': 1}[x])
is_df['Accident Level'] = is_df['Accident Level'].apply(lambda x: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}[x])
is_df['Potential Accident Level'] = is_df['Potential Accident Level'].apply(lambda x: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5, 'VI': 6}[x])

is_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      418 non-null    datetime64[ns]
 1   Country                   418 non-null    object
 2   Local                     418 non-null    object
 3   Industry Sector           418 non-null    object
 4   Accident Level            418 non-null    int64
 5   Potential Accident Level  418 non-null    int64
 6   Gender                    418 non-null    int64
 7   Employee or Third Party   418 non-null    object
 8   Critical Risk             418 non-null    object
 9   Description               418 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 32.8+ KB

In [51]:
# Dropping datetime info
is_df.drop(['Date'], axis=1, inplace=True)

In [53]:
# One-hot encoding
is_df = pd.get_dummies(is_df, columns=['Country', 'Local', 'Industry Sector', 'Employee or Third Party', 'Critical Risk'], dtype=np.int64)

In [55]:
is_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 58 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Accident Level                                           418 non-null    int64
 1   Potential Accident Level                                 418 non-null    int64
 2   Gender                                                   418 non-null    int64
 3   Description                                              418 non-null    object
 4   Country_Country_01                                       418 non-null    int64
 5   Country_Country_02                                       418 non-null    int64
 6   Country_Country_03                                       418 non-null    int64
 7   Local_Local_01                                           418 non-null    int64
 8   Local_Local_02                                           418 non-null    int64
 9   Local_Local_03                                           418 non-null    int64
 10  Local_Local_04                                           418 non-null    int64
 11  Local_Local_05                                           418 non-null    int64
 12  Local_Local_06                                           418 non-null    int64
 13  Local_Local_07                                           418 non-null    int64
 14  Local_Local_08                                           418 non-null    int64
 15  Local_Local_09                                           418 non-null    int64
 16  Local_Local_10                                           418 non-null    int64
 17  Local_Local_11                                           418 non-null    int64
 18  Local_Local_12                                           418 non-null    int64
 19  Industry Sector_Metals                                   418 non-null    int64
 20  Industry Sector_Mining                                   418 non-null    int64
 21  Industry Sector_Others                                   418 non-null    int64
 22  Employee or Third Party_Employee                         418 non-null    int64
 23  Employee or Third Party_Third Party                      418 non-null    int64
 24  Employee or Third Party_Third Party (Remote)             418 non-null    int64
 25  Critical Risk_
Not applicable                            418 non-null    int64
 26  Critical Risk_Bees                                       418 non-null    int64
 27  Critical Risk_Blocking and isolation of energies         418 non-null    int64
 28  Critical Risk_Burn                                       418 non-null    int64
 29  Critical Risk_Chemical substances                        418 non-null    int64
 30  Critical Risk_Confined space                             418 non-null    int64
 31  Critical Risk_Cut                                        418 non-null    int64
 32  Critical Risk_Electrical Shock                           418 non-null    int64
 33  Critical Risk_Electrical installation                    418 non-null    int64
 34  Critical Risk_Fall                                       418 non-null    int64
 35  Critical Risk_Fall prevention                            418 non-null    int64
 36  Critical Risk_Fall prevention (same level)               418 non-null    int64
 37  Critical Risk_Individual protection equipment            418 non-null    int64
 38  Critical Risk_Liquid Metal                               418 non-null    int64
 39  Critical Risk_Machine Protection                         418 non-null    int64
 40  Critical Risk_Manual Tools                               418 non-null    int64
 41  Critical Risk_Others                                     418 non-null    int64
 42  Critical Risk_Plates                                     418 non-null    int64
 43  Critical Risk_Poll                                       418 non-null    int64
 44  Critical Risk_Power lock                                 418 non-null    int64
 45  Critical Risk_Pressed                                    418 non-null    int64
 46  Critical Risk_Pressurized Systems                        418 non-null    int64
 47  Critical Risk_Pressurized Systems / Chemical Substances  418 non-null    int64
 48  Critical Risk_Projection                                 418 non-null    int64
 49  Critical Risk_Projection of fragments                    418 non-null    int64
 50  Critical Risk_Projection/Burning                         418 non-null    int64
 51  Critical Risk_Projection/Choco                           418 non-null    int64
 52  Critical Risk_Projection/Manual Tools                    418 non-null    int64
 53  Critical Risk_Suspended Loads                            418 non-null    int64
 54  Critical Risk_Traffic                                    418 non-null    int64
 55  Critical Risk_Vehicles and Mobile Equipment              418 non-null    int64
 56  Critical Risk_Venomous Animals                           418 non-null    int64
 57  Critical Risk_remains of choco                           418 non-null    int64
dtypes: int64(57), object(1)
memory usage: 189.5+ KB

In [73]:
is_df.head(2)

,Accident Level,Potential Accident Level,Gender,Description,Country_Country_01,Country_Country_02,Country_Country_03,Local_Local_01,Local_Local_02,Local_Local_03,...,Critical Risk_Projection/Burning,Critical Risk_Projection/Choco,Critical Risk_Projection/Manual Tools,Critical Risk_Suspended Loads,Critical Risk_Traffic,Critical Risk_Vehicles and Mobile Equipment,Critical Risk_Venomous Animals,Critical Risk_remains of choco,Description_T,Description_WL
0,1,4,0,While removing the drill rod of the Jumbo 08 f...,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,removing drill rod jumbo 08 maintenance superv...,remove drill rod jumbo 08 maintenance supervis...
1,1,4,0,During the activation of a sodium sulphide pum...,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,activation sodium sulphide pump piping uncoupl...,activation sodium sulphide pump pip uncouple s...

# Description

In [57]:
# to use regular expressions for manipulating text data
import re

# to load the natural language toolkit
import nltk
nltk.download('stopwords')    # loading the stopwords
nltk.download('wordnet')  

# to remove common stop words
from nltk.corpus import stopwords

# to perform stemming
from nltk.stem.porter import PorterStemmer

# to create Bag of Words
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nehag\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nehag\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [59]:
# To lowercase
is_df['Description_T'] = is_df['Description'].apply(lambda x: x.lower())

In [61]:
# Removing non-alphanumeric chars
is_df['Description_T'] = is_df['Description_T'].apply(lambda x: ''.join(re.sub('[^A-Za-z0-9]+', ' ', x)))

In [63]:
# Removing extra white spaces
is_df['Description_T'] = is_df['Description_T'].str.strip()

In [65]:
# Stopword removal
is_df['Description_T'] = is_df['Description_T'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords.words('english')]))

In [66]:
is_df.loc[0:10, ['Description', 'Description_T']]

,Description,Description_T
0,While removing the drill rod of the Jumbo 08 f...,removing drill rod jumbo 08 maintenance superv...
1,During the activation of a sodium sulphide pum...,activation sodium sulphide pump piping uncoupl...
2,In the sub-station MILPO located at level +170...,sub station milpo located level 170 collaborat...
3,Being 9:45 am. approximately in the Nv. 1880 C...,9 45 approximately nv 1880 cx 695 ob7 personne...
4,Approximately at 11:45 a.m. in circumstances t...,approximately 11 45 circumstances mechanics an...
5,During the unloading operation of the ustulado...,unloading operation ustulado bag need unclog d...
6,The collaborator reports that he was on street...,collaborator reports street 09 holding left ha...
7,"At approximately 04:50 p.m., when the mechanic...",approximately 04 50 p mechanic technician jos ...
8,Employee was sitting in the resting area at le...,employee sitting resting area level 326 raise ...
9,At the moment the forklift operator went to ma...,moment forklift operator went manipulate big b...
10,While installing a segment of the polyurethane...,installing segment polyurethane pulley protect...

In [69]:
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
is_df['Description_WL'] = is_df.apply(lambda row: nltk.word_tokenize(row['Description_T']), axis=1)
def lemmatize_list(words):
    new_words = []
    for word in words:
      new_words.append(lemmatizer.lemmatize(word, pos='v'))
    return ' '.join(new_words)
is_df['Description_WL'] = is_df.apply(lambda x: lemmatize_list(x['Description_WL']), axis=1)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nehag\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [71]:
is_df.loc[0:10, ['Description', 'Description_WL']]

,Description,Description_WL
0,While removing the drill rod of the Jumbo 08 f...,remove drill rod jumbo 08 maintenance supervis...
1,During the activation of a sodium sulphide pum...,activation sodium sulphide pump pip uncouple s...
2,In the sub-station MILPO located at level +170...,sub station milpo locate level 170 collaborato...
3,Being 9:45 am. approximately in the Nv. 1880 C...,9 45 approximately nv 1880 cx 695 ob7 personne...
4,Approximately at 11:45 a.m. in circumstances t...,approximately 11 45 circumstances mechanics an...
5,During the unloading operation of the ustulado...,unload operation ustulado bag need unclog disc...
6,The collaborator reports that he was on street...,collaborator report street 09 hold leave hand ...
7,"At approximately 04:50 p.m., when the mechanic...",approximately 04 50 p mechanic technician jos ...
8,Employee was sitting in the resting area at le...,employee sit rest area level 326 raise bore su...
9,At the moment the forklift operator went to ma...,moment forklift operator go manipulate big bag...
10,While installing a segment of the polyurethane...,instal segment polyurethane pulley protective ...

In [113]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_df = pd.DataFrame()
for i in [1,2]:
    tfidf = TfidfVectorizer(max_features=50, stop_words='english',use_idf=True, ngram_range=(i,i))
    X = tfidf.fit_transform(is_df['Description_WL']).toarray()
    tfs = pd.DataFrame(X, columns=["TFIDF_" + n for n in tfidf.get_feature_names_out()])
    tfidf_df = pd.concat([tfidf_df.reset_index(drop=True), tfs.reset_index(drop=True)], axis=1)

tfidf_df.head(5)

,TFIDF_accident,TFIDF_activity,TFIDF_approximately,TFIDF_area,TFIDF_assistant,TFIDF_carry,TFIDF_cause,TFIDF_clean,TFIDF_collaborator,TFIDF_come,...,TFIDF_safety gloves,TFIDF_split set,TFIDF_support mesh,TFIDF_time accident,TFIDF_time event,TFIDF_transfer medical,TFIDF_use safety,TFIDF_wear safety,TFIDF_work area,TFIDF_worker wear
0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,0.0000,0.0000,0.0000,0.4739,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0.0000,0.0000,0.0000,0.2598,0.0000,0.0000,0.1695,0.0000,0.5312,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.3317,0.0000,0.3339,0.0000,0.1956,0.0000,0.0000,0.3508,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0.0000,0.0000,0.2979,0.0000,0.0000,0.0000,0.1757,0.0000,0.0000,0.3151,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [117]:
final_dataset= is_df.join(tfidf_df.reset_index(drop=True))

In [119]:
final_dataset.head()

,Accident Level,Potential Accident Level,Gender,Description,Country_Country_01,Country_Country_02,Country_Country_03,Local_Local_01,Local_Local_02,Local_Local_03,...,TFIDF_safety gloves,TFIDF_split set,TFIDF_support mesh,TFIDF_time accident,TFIDF_time event,TFIDF_transfer medical,TFIDF_use safety,TFIDF_wear safety,TFIDF_work area,TFIDF_worker wear
0,1,4,0,While removing the drill rod of the Jumbo 08 f...,1,0,0,1,0,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,1,4,0,During the activation of a sodium sulphide pum...,0,1,0,0,1,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,1,3,0,In the sub-station MILPO located at level +170...,1,0,0,0,0,1,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,1,1,0,Being 9:45 am. approximately in the Nv. 1880 C...,1,0,0,0,0,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,4,4,0,Approximately at 11:45 a.m. in circumstances t...,1,0,0,0,0,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [123]:
final_dataset.drop(['Description','Description_T','Description_WL'],axis=1,inplace=True)

In [125]:
final_dataset.columns

Index(['Accident Level', 'Potential Accident Level', 'Gender',
       'Country_Country_01', 'Country_Country_02', 'Country_Country_03',
       'Local_Local_01', 'Local_Local_02', 'Local_Local_03', 'Local_Local_04',
       ...
       'TFIDF_safety gloves', 'TFIDF_split set', 'TFIDF_support mesh',
       'TFIDF_time accident', 'TFIDF_time event', 'TFIDF_transfer medical',
       'TFIDF_use safety', 'TFIDF_wear safety', 'TFIDF_work area',
       'TFIDF_worker wear'],
      dtype='object', length=157)

In [127]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Columns: 157 entries, Accident Level to TFIDF_worker wear
dtypes: float64(100), int64(57)
memory usage: 512.8 KB

In [135]:
final_dataset.to_csv("nlp_chatbot_TF_IDF.csv", index=False,header=True)

In [133]:
final_dataset.head(2)

,Accident Level,Potential Accident Level,Gender,Country_Country_01,Country_Country_02,Country_Country_03,Local_Local_01,Local_Local_02,Local_Local_03,Local_Local_04,...,TFIDF_safety gloves,TFIDF_split set,TFIDF_support mesh,TFIDF_time accident,TFIDF_time event,TFIDF_transfer medical,TFIDF_use safety,TFIDF_wear safety,TFIDF_work area,TFIDF_worker wear
0,1,4,0,1,0,0,1,0,0,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,1,4,0,0,1,0,0,1,0,0,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000