In [20]:
# Library to interact with the OS
import os

# Libraries for reading and manipulating data
import numpy as np
import pandas as pd

# Libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [21]:
df_train=pd.read_csv('augmented_train.csv')

In [22]:
df_train.head(2)

,Potential Accident Level,Gender,Country_Country_01,Country_Country_02,Country_Country_03,Local_Local_01,Local_Local_02,Local_Local_03,Local_Local_04,Local_Local_05,...,Critical Risk_Projection/Burning,Critical Risk_Projection/Choco,Critical Risk_Projection/Manual Tools,Critical Risk_Suspended Loads,Critical Risk_Traffic,Critical Risk_Vehicles and Mobile Equipment,Critical Risk_Venomous Animals,Critical Risk_remains of choco,Description,Accident Level
0,4,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,By manually moving a steel cabinet for disposa...,3
1,4,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,Once the mooring of the faneles in the detonat...,1

In [23]:
df_test=pd.read_csv('augmented_test.csv')

In [24]:
df_test.head(2)

,Potential Accident Level,Gender,Description,Country_Country_01,Country_Country_02,Country_Country_03,Local_Local_01,Local_Local_02,Local_Local_03,Local_Local_04,...,Critical Risk_Projection of fragments,Critical Risk_Projection/Burning,Critical Risk_Projection/Choco,Critical Risk_Projection/Manual Tools,Critical Risk_Suspended Loads,Critical Risk_Traffic,Critical Risk_Vehicles and Mobile Equipment,Critical Risk_Venomous Animals,Critical Risk_remains of choco,0
0,1.0000,0.0000,On 02/03/17 during the soil sampling in the re...,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,NaN
1,4.0000,0.0000,During execution of drilling on the target - B...,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN

In [25]:
df_test.columns

Index(['Potential Accident Level', 'Gender', 'Description',
       'Country_Country_01', 'Country_Country_02', 'Country_Country_03',
       'Local_Local_01', 'Local_Local_02', 'Local_Local_03', 'Local_Local_04',
       'Local_Local_05', 'Local_Local_06', 'Local_Local_07', 'Local_Local_08',
       'Local_Local_09', 'Local_Local_10', 'Local_Local_11', 'Local_Local_12',
       'Industry Sector_Metals', 'Industry Sector_Mining',
       'Industry Sector_Others', 'Employee or Third Party_Employee',
       'Employee or Third Party_Third Party',
       'Employee or Third Party_Third Party (Remote)',
       'Critical Risk_\nNot applicable', 'Critical Risk_Bees',
       'Critical Risk_Blocking and isolation of energies',
       'Critical Risk_Burn', 'Critical Risk_Chemical substances',
       'Critical Risk_Confined space', 'Critical Risk_Cut',
       'Critical Risk_Electrical Shock',
       'Critical Risk_Electrical installation', 'Critical Risk_Fall',
       'Critical Risk_Fall prevention',
       'Critical Risk_Fall prevention (same level)',
       'Critical Risk_Individual protection equipment',
       'Critical Risk_Liquid Metal', 'Critical Risk_Machine Protection',
       'Critical Risk_Manual Tools', 'Critical Risk_Others',
       'Critical Risk_Plates', 'Critical Risk_Poll',
       'Critical Risk_Power lock', 'Critical Risk_Pressed',
       'Critical Risk_Pressurized Systems',
       'Critical Risk_Pressurized Systems / Chemical Substances',
       'Critical Risk_Projection', 'Critical Risk_Projection of fragments',
       'Critical Risk_Projection/Burning', 'Critical Risk_Projection/Choco',
       'Critical Risk_Projection/Manual Tools',
       'Critical Risk_Suspended Loads', 'Critical Risk_Traffic',
       'Critical Risk_Vehicles and Mobile Equipment',
       'Critical Risk_Venomous Animals', 'Critical Risk_remains of choco',
       '0'],
      dtype='object')

In [26]:
df_test.drop('0',inplace=True,axis=1)

In [27]:
df_test.head()

,Potential Accident Level,Gender,Description,Country_Country_01,Country_Country_02,Country_Country_03,Local_Local_01,Local_Local_02,Local_Local_03,Local_Local_04,...,Critical Risk_Projection,Critical Risk_Projection of fragments,Critical Risk_Projection/Burning,Critical Risk_Projection/Choco,Critical Risk_Projection/Manual Tools,Critical Risk_Suspended Loads,Critical Risk_Traffic,Critical Risk_Vehicles and Mobile Equipment,Critical Risk_Venomous Animals,Critical Risk_remains of choco
0,1.0000,0.0000,On 02/03/17 during the soil sampling in the re...,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
1,4.0000,0.0000,During execution of drilling on the target - B...,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,3.0000,0.0000,"The operator was in the center (Demag IV), per...",0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,4.0000,0.0000,The employee was transiting toward the cadmium...,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,4.0000,0.0000,"Being 12:20 hours Approximately, in circumstan...",1.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [28]:
# to use regular expressions for manipulating text data
import re

# to load the natural language toolkit
import nltk
nltk.download('stopwords')    # loading the stopwords
nltk.download('wordnet')  

# to remove common stop words
from nltk.corpus import stopwords

# to perform stemming
from nltk.stem.porter import PorterStemmer

# to create Bag of Words
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Prasana\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Prasana\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [29]:
# Removing non-alphanumeric chars
df_train['Description_T'] = df_train['Description'].apply(lambda x: ''.join(re.sub('[^A-Za-z0-9]+', ' ', str(x))))
df_test['Description_T'] = df_test['Description'].apply(lambda x: ''.join(re.sub('[^A-Za-z0-9]+', ' ', str(x))))

In [30]:
#removing digits
df_train['Description_T'] = df_train['Description_T'].apply(lambda x: ''.join(re.sub(r'\d+',' ', str(x))))
df_test['Description_T'] = df_test['Description_T'].apply(lambda x: ''.join(re.sub(r'\d+',' ', str(x))))

In [31]:
# To lowercase
df_train['Description_T'] = df_train['Description_T'].apply(lambda x: str(x).lower())
df_test['Description_T'] = df_test['Description_T'].apply(lambda x: str(x).lower())

In [32]:
df_train['Description_T'] = df_train['Description_T'].str.strip()
df_test['Description_T'] = df_test['Description_T'].str.strip()

In [37]:
# Stopword removal
df_train['Description_T'] = df_train['Description_T'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords.words('english')]))

# Stopword removal
df_test['Description_T'] = df_test['Description_T'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords.words('english')]))

In [38]:
df_train.loc[0:10, ['Description', 'Description_T']]

,Description,Description_T
0,By manually moving a steel cabinet for disposa...,manually moving steel cabinet disposal help an...
1,Once the mooring of the faneles in the detonat...,mooring faneles detonating cord completed inju...
2,When performing cleaning activity of the area ...,performing cleaning activity area near tc grin...
3,The technician was doing the magnetometric sur...,technician magnetometric survey stepped thorn ...
4,The operator cleaned with spatula spear throug...,operator cleaned spatula spear one windows boi...
5,"On 02/25/2017 at 13:05 p.m., when assisting wi...",p assisting gps magnetometric collaborator gil...
6,"On 05/02/2017, at 10:40 p.m., when performing ...",p performing geological mapping activity geolo...
7,"In phase III of the concentrator plant, the ma...",phase iii concentrator plant maintenance perso...
8,"While preparing to mount polypropylene tubing,...",preparing mount polypropylene tubing employee ...
9,After the welder completed the welding work to...,welder completed welding work reinforce forms ...
10,The technician Operator when heading towards t...,technician operator heading towards zone lifti...

In [40]:
df_test.loc[0:10, ['Description', 'Description_T']]

,Description,Description_T
0,On 02/03/17 during the soil sampling in the re...,soil sampling region sta employees rafael dani...
1,During execution of drilling on the target - B...,execution drilling target bolt brjcldd made co...
2,"The operator was in the center (Demag IV), per...",operator center demag iv performing maintenanc...
3,The employee was transiting toward the cadmium...,employee transiting toward cadmium factory nea...
4,"Being 12:20 hours Approximately, in circumstan...",hours approximately circumstances administrati...
5,"At Rp 050 of level 1620, in circumstances wher...",rp level circumstances workers company perform...
6,When observing the pulp overflow of the overfl...,observing pulp overflow overflow reception dra...
7,During the execution of the soil sampling task...,execution soil sampling task potions area arou...
8,In moments that the truck of transport of pers...,moments truck transport personnel company mcei...
9,Employee moved toward the structure of post 10...,employee moved toward structure post came step...
10,The employees Márcio and Sérgio performed the ...,employees rcio rgio performed pump pipe cleari...

In [41]:
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
df_train['Description_WL'] = df_train.apply(lambda row: nltk.word_tokenize(row['Description_T']), axis=1)
def lemmatize_list(words):
    new_words = []
    for word in words:
      new_words.append(lemmatizer.lemmatize(word, pos='v'))
    return ' '.join(new_words)
df_train['Description_WL'] = df_train.apply(lambda x: lemmatize_list(x['Description_WL']), axis=1)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Prasana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [42]:
df_train.loc[0:10, ['Description', 'Description_WL']]

,Description,Description_WL
0,By manually moving a steel cabinet for disposa...,manually move steel cabinet disposal help anot...
1,Once the mooring of the faneles in the detonat...,moor faneles detonate cord complete injure per...
2,When performing cleaning activity of the area ...,perform clean activity area near tc grind empl...
3,The technician was doing the magnetometric sur...,technician magnetometric survey step thorn rea...
4,The operator cleaned with spatula spear throug...,operator clean spatula spear one windows boile...
5,"On 02/25/2017 at 13:05 p.m., when assisting wi...",p assist gps magnetometric collaborator gilv n...
6,"On 05/02/2017, at 10:40 p.m., when performing ...",p perform geological map activity geologist ma...
7,"In phase III of the concentrator plant, the ma...",phase iii concentrator plant maintenance perso...
8,"While preparing to mount polypropylene tubing,...",prepare mount polypropylene tube employee pull...
9,After the welder completed the welding work to...,welder complete weld work reinforce form deepe...
10,The technician Operator when heading towards t...,technician operator head towards zone lift con...

In [43]:
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
df_test['Description_WL'] = df_test.apply(lambda row: nltk.word_tokenize(row['Description_T']), axis=1)
def lemmatize_list(words):
    new_words = []
    for word in words:
      new_words.append(lemmatizer.lemmatize(word, pos='v'))
    return ' '.join(new_words)
df_test['Description_WL'] = df_test.apply(lambda x: lemmatize_list(x['Description_WL']), axis=1)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Prasana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [44]:
df_test.loc[0:10, ['Description', 'Description_WL']]

,Description,Description_WL
0,On 02/03/17 during the soil sampling in the re...,soil sample region sta employees rafael danill...
1,During execution of drilling on the target - B...,execution drill target bolt brjcldd make compa...
2,"The operator was in the center (Demag IV), per...",operator center demag iv perform maintenance t...
3,The employee was transiting toward the cadmium...,employee transit toward cadmium factory near t...
4,"Being 12:20 hours Approximately, in circumstan...",hours approximately circumstances administrati...
5,"At Rp 050 of level 1620, in circumstances wher...",rp level circumstances workers company perform...
6,When observing the pulp overflow of the overfl...,observe pulp overflow overflow reception drawe...
7,During the execution of the soil sampling task...,execution soil sample task potions area around...
8,In moments that the truck of transport of pers...,moments truck transport personnel company mcei...
9,Employee moved toward the structure of post 10...,employee move toward structure post come step ...
10,The employees Márcio and Sérgio performed the ...,employees rcio rgio perform pump pipe clear ac...

In [45]:
df_train1=df_train.copy()
df_test1=df_test.copy()

In [ ]:
import pandas as pd
import numpy as np
from gensim.scripts.glove2word2vec import glove2word2vec
from gensim.models import KeyedVectors

# Load the GloVe model
glove_input_file = 'glove.6B.100d.txt'
word2vec_output_file = 'glove.6B.100d.txt.word2vec'
glove2word2vec(glove_input_file, word2vec_output_file)
filename = 'glove.6B.100d.txt.word2vec'
glove_model = KeyedVectors.load_word2vec_format(filename, binary=False)

# Define functions for vectorizing text using GloVe embeddings
def average_vectorizer_GloVe(doc):
    vec_size = 100  # Assuming 100-dimensional vectors from the GloVe model
    feature_vector = np.zeros((vec_size,), dtype="float64")
    words_in_vocab = [word for word in doc.split() if word in glove_model]
    
    for word in words_in_vocab:
        feature_vector += np.array(glove_model[word])

    if len(words_in_vocab) != 0:
        feature_vector /= len(words_in_vocab)
    
    return feature_vector

In [6]:
# Load train and test data
train_data = pd.read_csv('augmented_train.csv')
test_data = pd.read_csv('augmented_test.csv')
train_vectors = [average_vectorizer_GloVe(doc) for doc in train_data]
test_vectors = [average_vectorizer_GloVe(doc) for doc in test_data]

In [7]:
import pandas as pd

train_df = pd.DataFrame(train_vectors)
test_df = pd.DataFrame(test_vectors)

In [8]:
print("Length of the vocabulary is", len(glove_model.index_to_key))

Length of the vocabulary is 400000

In [16]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 100 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       58 non-null     float64
 1   1       58 non-null     float64
 2   2       58 non-null     float64
 3   3       58 non-null     float64
 4   4       58 non-null     float64
 5   5       58 non-null     float64
 6   6       58 non-null     float64
 7   7       58 non-null     float64
 8   8       58 non-null     float64
 9   9       58 non-null     float64
 10  10      58 non-null     float64
 11  11      58 non-null     float64
 12  12      58 non-null     float64
 13  13      58 non-null     float64
 14  14      58 non-null     float64
 15  15      58 non-null     float64
 16  16      58 non-null     float64
 17  17      58 non-null     float64
 18  18      58 non-null     float64
 19  19      58 non-null     float64
 20  20      58 non-null     float64
 21  21      58 non-null     float64
 22  22      58 non-null     float64
 23  23      58 non-null     float64
 24  24      58 non-null     float64
 25  25      58 non-null     float64
 26  26      58 non-null     float64
 27  27      58 non-null     float64
 28  28      58 non-null     float64
 29  29      58 non-null     float64
 30  30      58 non-null     float64
 31  31      58 non-null     float64
 32  32      58 non-null     float64
 33  33      58 non-null     float64
 34  34      58 non-null     float64
 35  35      58 non-null     float64
 36  36      58 non-null     float64
 37  37      58 non-null     float64
 38  38      58 non-null     float64
 39  39      58 non-null     float64
 40  40      58 non-null     float64
 41  41      58 non-null     float64
 42  42      58 non-null     float64
 43  43      58 non-null     float64
 44  44      58 non-null     float64
 45  45      58 non-null     float64
 46  46      58 non-null     float64
 47  47      58 non-null     float64
 48  48      58 non-null     float64
 49  49      58 non-null     float64
 50  50      58 non-null     float64
 51  51      58 non-null     float64
 52  52      58 non-null     float64
 53  53      58 non-null     float64
 54  54      58 non-null     float64
 55  55      58 non-null     float64
 56  56      58 non-null     float64
 57  57      58 non-null     float64
 58  58      58 non-null     float64
 59  59      58 non-null     float64
 60  60      58 non-null     float64
 61  61      58 non-null     float64
 62  62      58 non-null     float64
 63  63      58 non-null     float64
 64  64      58 non-null     float64
 65  65      58 non-null     float64
 66  66      58 non-null     float64
 67  67      58 non-null     float64
 68  68      58 non-null     float64
 69  69      58 non-null     float64
 70  70      58 non-null     float64
 71  71      58 non-null     float64
 72  72      58 non-null     float64
 73  73      58 non-null     float64
 74  74      58 non-null     float64
 75  75      58 non-null     float64
 76  76      58 non-null     float64
 77  77      58 non-null     float64
 78  78      58 non-null     float64
 79  79      58 non-null     float64
 80  80      58 non-null     float64
 81  81      58 non-null     float64
 82  82      58 non-null     float64
 83  83      58 non-null     float64
 84  84      58 non-null     float64
 85  85      58 non-null     float64
 86  86      58 non-null     float64
 87  87      58 non-null     float64
 88  88      58 non-null     float64
 89  89      58 non-null     float64
 90  90      58 non-null     float64
 91  91      58 non-null     float64
 92  92      58 non-null     float64
 93  93      58 non-null     float64
 94  94      58 non-null     float64
 95  95      58 non-null     float64
 96  96      58 non-null     float64
 97  97      58 non-null     float64
 98  98      58 non-null     float64
 99  99      58 non-null     float64
dtypes: float64(100)
memory usage: 45.4 KB

In [11]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_df_train = pd.DataFrame()
for i in [1,2]:
    tfidf = TfidfVectorizer(max_features=50, stop_words='english',use_idf=True, ngram_range=(i,i))
    X = tfidf.fit_transform(df_train1['Description_WL']).toarray()
    tfs = pd.DataFrame(X, columns=["TFIDF_" + n for n in tfidf.get_feature_names_out()])
    tfidf_df_train = pd.concat([tfidf_df_train.reset_index(drop=True), tfs.reset_index(drop=True)], axis=1)

tfidf_df_train.head(5)

NameError: name 'df_train1' is not defined

In [227]:
final_dataset_tfidf_train= df_train1[['Accident Level']].join(tfidf_df_train.reset_index(drop=True))

In [229]:
final_dataset_tfidf_train.to_csv("nlp_chatbot_tfidf_train.csv", index=False,header=True)

In [241]:
tfidf_df_test = pd.DataFrame()
X = tfidf.fit_transform(df_test1['Description_WL']).toarray()
tfs = pd.DataFrame(X, columns=["TFIDF_" + n for n in tfidf.get_feature_names_out()])
tfidf_df_test = pd.concat([tfidf_df_test.reset_index(drop=True), tfs.reset_index(drop=True)], axis=1)
tfidf_df_test.head(5)

,TFIDF_accident employee,TFIDF_activity employee,TFIDF_allergic reaction,TFIDF_blunt cut,TFIDF_cause blunt,TFIDF_cause cut,TFIDF_cause injury,TFIDF_circumstances operator,TFIDF_cut position,TFIDF_da silva,...,TFIDF_right hand,TFIDF_rotation unit,TFIDF_steel plate,TFIDF_support mesh,TFIDF_throw floor,TFIDF_time accident,TFIDF_time event,TFIDF_twist leave,TFIDF_wear safety,TFIDF_work area
0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,0.0000,0.0000,0.0000,0.0000,0.0000,0.5576,0.4208,0.0000,0.0000,0.5838,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0.0000,0.0000,0.0000,0.0000,0.0000,0.3575,0.0000,0.0000,0.0000,0.0000,...,0.5305,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [243]:
tfidf_df_test.shape

(210, 50)

In [245]:
tfidf_df_test.to_csv("nlp_chatbot_tfidf_test_new.csv", index=False,header=True)

In [259]:
tfidf_df_test.head()

,TFIDF_accident employee,TFIDF_activity employee,TFIDF_allergic reaction,TFIDF_blunt cut,TFIDF_cause blunt,TFIDF_cause cut,TFIDF_cause injury,TFIDF_circumstances operator,TFIDF_cut position,TFIDF_da silva,...,TFIDF_right hand,TFIDF_rotation unit,TFIDF_steel plate,TFIDF_support mesh,TFIDF_throw floor,TFIDF_time accident,TFIDF_time event,TFIDF_twist leave,TFIDF_wear safety,TFIDF_work area
0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,0.0000,0.0000,0.0000,0.0000,0.0000,0.5576,0.4208,0.0000,0.0000,0.5838,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0.0000,0.0000,0.0000,0.0000,0.0000,0.3575,0.0000,0.0000,0.0000,0.0000,...,0.5305,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [261]:
tfidf_df_test.shape

(210, 50)